/build/
/CMakeFiles/
/CMakeCache.txt
cmake_install.cmake
Makefile

*.out
*.o
*.exe

.idea/
.vscode/
*.iml

.DS_Store
Thumbs.db
/build/
/CMakeFiles/
/CMakeCache.txt
cmake_install.cmake
Makefile

*.out
*.o
*.exe

.idea/
.vscode/
*.iml

.DS_Store
Thumbs.db